*.class
*.o
*.so
*~
R/zzz.R
config.*
inst/jri/JRI.jar
inst/jri/examples/
inst/jri/run
jri/Makefile
jri/libjri.so
jri/run
jri/src/JRI.jar
jri/src/Makefile
jri/src/Rcallbacks.o
jri/src/Rengine.o
jri/src/Rinit.o
jri/src/config.h
jri/src/globals.o
jri/src/jri.o
jri/src/libjri.so
jri/src/org/
jri/src/org_rosuda_JRI_Rengine.h
jri/src/rjava.o
src/Makevars
src/config.h
